<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="certpath" value="C:\Cert\read.data.thunderdb.io.pfx" />
    <add key="keypassword" value="covenantsql" />
    <add key="url" value="https://e.morenodes.com:11108/v1/query" />
    <add key="database" value="057e55460f501ad071383c95f691293f2f0a7895988e22593669ceeb52a6452a" />
  </appSettings>
</configuration>

